{% extends 'header.html' %} {% block body %}
<div class="container container3">
    <header class="jumbotron" style="font-family: 'Sen', sans-serif;margin-top:0px !important; background:rgb(255,255,255,0.3) !important;">
        <div style="width:40%; margin:0px auto;">
            <h2 style="text-align:center; color:white; text-shadow: 3px 2px 4px #000000;">GRACO FACULTY DASHBOARD</h2>
        </div>
    </header>
    <header class="jumbotron" style="margin-top:0px !important; background:rgb(255,255,255,0.3) !important;">
        <div style="width:40%; margin:0px auto;">
            <h4 style="text-align:center; color:black">Upload Excel Files Here</h4>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="u_batch" class="form-control" required>
                            <option value="none" selected disabled hidden>Enter Batch</option>
                            <option value="2017-2021">2017-2021</option>
                            <option value="2018-2022">2018-2022</option>
                            <option value="2019-2023">2019-2023</option>
                            <option value="2020-2024">2020-2024</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="u_dept" class="form-control" placeholder='Enter department' required>
                            <option value="none" selected disabled hidden>Enter Department</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="MECH">Mechanical</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="u_section" class="form-control" placeholder="Enter Department" required>
                            <option value="none" selected disabled hidden>Enter Section</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <input class="form-control" type="file" name="file" required>
                    </div>
                </div>

                <div class="form-group">
                    <button name="submit" value="marks" class="btn btn-lg btn-block button1" required>
                        <span>Upload Marksheet</span>
                    </button>
                </div>

                <div class="form-group">
                    <button name="submit" value="grace" class="btn btn-lg btn-block button1" required>
                        <span>Upload Grace marks</span>
                    </button>
                </div>

            </form>
        </div>
    </header>
</div>

<div class="container container3">
    <header class="jumbotron" style="margin-top:0px !important; background:rgb(255,255,255,0.3) !important;">
        <div style="width:40%; margin:0px auto;">
            <h2 style="text-align:center; color:white; text-shadow: 3px 2px 4px #000000;"></h2>
            <h4 style="text-align:center; color:black">Download Excel Files Here</h4>
            <form action="/download" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="d_batch" class="form-control" required>
                            <option value="none" selected disabled hidden>Enter Batch</option>
                            <option value="2017-2021">2017-2021</option>
                            <option value="2018-2022">2018-2022</option>
                            <option value="2019-2023">2019-2023</option>
                            <option value="2020-2024">2020-2024</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="d_dept" class="form-control" placeholder='Enter department' required>
                            <option value="none" selected disabled hidden>Enter Department</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                            <option value="MECH">Mechanical</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <em class="fas fa-book"></em>
                        </span>
                        <select name="d_section" class="form-control" placeholder="Enter Department" required>
                            <option value="none" selected disabled hidden>Enter Section</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block button1" required>
                        <span>Download</span>
                    </button>
                </div>
            </form>

        </div>
    </header>
</div>

<div class="well" style="margin-left:30px;
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
border-radius:3%;">
    <h3 style="font-family: 'Bellota', cursive;color:white;text-align:center;">
        Comments from Students
    </h3>
    <hr> {% for comment in comments %}
    <div class="row">
        <div class="col-md-12">

            <strong>{{comment[11:27]}}</strong>
            <span class="pull-right" style="color:white;">{{comment[:10]}}</span>
            <p>{{comment[28:]}}</p>
            <form class="delete-form" action="/faculty" method=POST>
                <input type="hidden" name="comment" value="{{comment}}">
                <input type="submit" class="btn btn-xs btn-danger" name="delete" value="delete">
            </form>
        </div>
    </div>
    <hr> {% endfor %}
</div>
<br>
<br>
<br> {%endblock%}
