{% extends 'header.html' %} {% block body %}
<div class="container container3">
    <header class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <i class="fab fa-gofore" style="font-size: 12em; padding-left:55px; padding-top:18px;"></i>
            </div>
            <div class="col-sm-8">
                <h1>Welcome to Graco</h1>
                <p>Grade And Grace mark Calculator</p>
                {% if not session.logged_in %}
                <a class="btn btn-lg button1" href="/login" id="gotologin"><span>Go to Login Page</span></a>
                {% endif %}
            </div>
        </div>
    </header>
</div>
{% endblock %}