<!-- <h1>Udhay</h1>

<form action="/" method="POST">
	Name <input type="text" name="name"/>
	<br>
	Email <input type="email" name="email"/>
	<br>
	<input type="submit"/>
</form>
 -->

<!doctype html>
        <h1>.    Resourse Management in a Company</h1>

<html lang="en">
  <head>
<!--    <h1>Resourse Management in a Company</h1>
 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="icon" href="../../../../favicon.ico">
 -->
    <title>DBMS</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/signin.css" rel="stylesheet">

  </head>

  <body class="text-center">
    <form class="form-signin" action="/" method="POST">
<!--       <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
 -->      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="name">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="email">
      <div class="checkbox mb-3">
        <label>
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
